flask==2.3.2
azure.identity==1.9.0
azure.keyvault.secrets==4.3.0
azure.storage.blob==12.9.0 
pandas==1.4.2
Flask-Limiter==3.3.1
openai
fastparquet==0.5.0
pyarrow==4.0.0
requests
numpy
openai[embeddings]
openai[datalib]