<form class="tones" name="tone_voice" method="get">
    <br>
    <br>
    <label for="tone_of_voice">Tone of voice:</label>
    <br>
    <br>
    <select name="tone_form" id="select_tone" class="select2">
        <option value="null">Velg "tone of voice" </option>
        <option value="entusiastisk">entusiastisk</option>
        <option value="gøy">gøy</option>
        <option value="trist">trist</option>
        <option value="spennende">spennende</option>
        <option value="profesjonell">profesjonell</option>
    </select>
    <input type="submit" id="small_button" class="small_button" value="Submit" onsubmit="getEmailResponse()">
</form>