<!doctype html>
<head>
     <meta http-equiv="refresh" content="7; url='{{url_for('get_end')}}'"/>
    <title>FokusGPT Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/Symbol-blå.svg') }}" alt="Bas Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">The end </h1>
            <form class="feedback" id=feedback method="post" name="complete_feedback">
              <input type="text" id="input_text" name="feedback_done"></input> 
              <input type="submit" id="button" value="Submit" onsubmit="getInput()"/>           
          </div>
          <script>
          function getInput(){const input = document.getElementById("input_text").value
          const form = document.getElementById("feedback")  
          $.get("/fokus_end", { inputText: input })}
         
          </script>
</html>