<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <meta http-equiv="refresh" content="7; url='{{url_for('gpt_email')}}'"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title style="font-weight: bold">FokusGPT Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_other.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/animate.min.css') }}" />
    <link href="{{ url_for('static', filename='styles/select2.css') }}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"
        integrity="sha512-m7x59G4+NdYoUUKUscYq2qKkineVwmjXA/7WfXm8pukxYiFavrh9uFImpPtbmZGAnHR0rouVWWk+dgcHNurQ5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<html>

<body>
        <br>
        <br>
        <div class="px-4 py-3 my-2 text-center">
        <h1>Lag din e-post </h1>
        <br>
        <br>
        <form class="tones" name="tone_voice" method="POST">
            <br>
            <br>
            <label for="tone_of_voice">Tone of voice:</label>
            <br>
            <br>
            <select name="tone_form" id="select_tone" class="select2">
                <option value="null">Velg "tone of voice" </option>
                <option value="entusiastisk">entusiastisk</option>
                <option value="gøy">gøy</option>
                <option value="trist">trist</option>
                <option value="spennende">spennende</option>
                <option value="profesjonell">profesjonell</option>
            </select>
            <input type="submit" id="small_button" class="small_button" value="Submit">
        </form>
        <script>
        $(function () {
                $("select").select2({
                    templateResult: formatOption
                });

                function formatOption(option) {
                    var $option = $(
                        '<div><strong>' + option.text + '</strong></div><div>' + option.title + '</div>'
                    );
                    return $option;
                };
            });
        </script>
        <br>
        <br>
        <main class="email_here">
            <form class="email-form">
                <label for="subject">Emne:</label>
                <div id="subject_done" name="subject"></div>
                <br>
                <br>
                <label for="content">Innhold:</label>
                <div id="content_done" name="content"></div>
                <br>
                <br>
                <input type="submit" value="Submit"></button>
            </form>
        </main>
        <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
        <script>
        const toneForm = get('.tones');
        const emailForm = get('.email-form')
        const emailChat = get(".email_here");
        const formData = new FormData(emailForm);
            formData.append('subject', emailForm.elements.subject.value)
            formData.append('content', emailForm.elements.content.value)
        const selectedTone =  get('.select2');
        const subjectInput = document.getElementById('subject');
        const contentInput = document.getElementById('content');
        
        toneForm.addEventListener('submit', event => {
            alert('Change Happened');
                
                event.preventDefault();
                emailHTML = `
                <label for="subject">Emne:</label>
                <div id="subject_done" name="subject"></div>
                <br>
                <br>
                <label for="content">Innhold:</label>
                <div id="content_done" name="content"></div>
                <br>
                <br>
                `
                emailChat.insertAdjacentHTML("beforeend", emailHTML);
                async function streamer() {
                    try {
                        const response = await fetch('/get_email', {
                            method: 'POST',
                           headers:{'Content-Type': 'text/event-stream'},
                           body: formData
                        });
                        const reader = response.body.getReader();
                        subjectInput.innerHTML += ""
                        contentInput.innerHTML += ""
                        while (true) {
                            const { done, value } = await reader.read();
                            if (done) break;
                            const text = new TextDecoder().decode(value);
                            if (text.startsWith("Emne:")) {
                                subjectInput.innerHTML += text
                            } else if (text.startsWith("Innhold:")) {
                                contentInput.innerHTML += text
                            }
                        }
                    } catch (error) {
                        console.error(error);
                    }
                }
                streamer();
                subjectInput.innerHTML = subjectInput.innerHTML.replace("Emne:", "")
                contentInput.innerHTML = contentInput.innerHTML.replace("Innhold:", "")
            })
        </script>
    </div>
</body>

</html>