<html>

<head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
    <title>Create your unique prompt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_other.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"
        integrity="sha512-m7x59G4+NdYoUUKUscYq2qKkineVwmjXA/7WfXm8pukxYiFavrh9uFImpPtbmZGAnHR0rouVWWk+dgcHNurQ5g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="{{ url_for('static', filename='styles/select2.css') }}" rel="stylesheet" />
</head>
<br>
<br>

<body>
    <div class="px-4 py-3 my-2 text-center">
        <h1 class="display-6 fw-bold text-primary">Lag din unike forespørsel</h1>
        <br>
        <br>
    </div>
    <div class="boxed">
        <label class="explanation">Her kan du lage en automatisk forespørsel, som for eksempel:</label>
        <br>
        <br>
        <p class="justify">
        "Skriv en <b>artikkel/e-post</b> med <b>[ord]</b>
        som sier hvordan kan man øke salg av <b>[produkt]</b>
        til personer/<b>[Navn]</b> med <b>[Fokus-verdi]</b> i <b>[Fokus-variabel]</b>
        som er <b>[stilling] </b>i <b>[industri]</b>"
        <br>
        <br>
        <b>Fokus-verdi:</b> for eksempel, Lav, Middels eller Høy.
        <br>
        <b>Fokus-variabel:</b> en en av Bas Fokus-variablene.
        For mer info: sjekk <a href="https://bas.no/tjenester/analyse-og-innsikt/fokus" target="_blank"  style="color:#f2f2f2; font-weight: bold;">Bas Fokus</a>
        <br>
        <b>Da er det tid å trykke på hver de faktorene som står her nede og fylle inn produkt så at det kommer som anbefaling på chatten og automatisk på e-post generator!</b>
        </p>
    </div>
    <br>
    <br>
    <section class="form_table">
        <div class="container">
            <br>
            <h3> Du er kvalifisert som: </h3>
            <br>
            <button class="button" id="button-table" onclick="tableFromJson()">Dine Fokus verdier</button>
            <br>
            <p id="table-fokus"></p>

            <script>
                let tableFromJson = () => {
                    // the json data.
                    const myData = {{ tables | tojson | safe
                }}
                // Get headers
                let col = [];
                for (let i = 0; i < myData.length; i++) {
                    for (let key in myData[i]) {
                        if (col.indexOf(key) === -1) {
                            col.push(key);
                        }
                    }
                }

                // Create table.
                const table = document.createElement("table");

                // Create table header row using the extracted headers above.
                let tr = table.insertRow(-1);                   // table row.

                for (let i = 0; i < col.length; i++) {
                    let th = document.createElement("th");      // table header.
                    th.innerHTML = col[i];
                    tr.appendChild(th);
                }

                // add json data to the table as rows.
                for (let i = 0; i < myData.length; i++) {

                    tr = table.insertRow(-1);

                    for (let j = 0; j < col.length; j++) {
                        let tabCell = tr.insertCell(-1);
                        tabCell.innerHTML = myData[i][col[j]];
                    }
                }

                // Now, add the newly created table with json data, to a container.
                const divShowData = document.getElementById("table-fokus");
                divShowData.innerHTML = "";
                divShowData.appendChild(table);
                            }
                $(document).ready(function () {
                    $("#button-table").click(function () {
                        $("#table-fokus").toggle();
                    });
                });
            </script>
            <br>
            <script>

                $(function () {
                    $("select").select2({
                        width: '250px' ,
                        templateResult: formatOption
                    });

                    function formatOption(option) {
                        var $option = $(
                            '<div><strong>' + option.text + '</strong></div><div>' + option.title + '</div>'
                        );
                        return $option;
                    };
                });
                $(".select2-selection").on("click", function () {
                    return false; // prevent propagation
                });
            </script>
            <form action="{{url_for('prompt')}}" , method="POST">
                <div id="words_total">
                    <label for="word_amount">Antall
                        ord:</label>
                    <br>
                    <br>
                    <select name="words" style="width: 250px; height: 30px;">
                        <option value="No_words">Veld antall ord</option>
                        <option value="100 ord">50 ord</option>
                        <option value="100 ord">100 ord</option>
                        <option value="300 ord">300 ord</option>
                        <option value="500 ord">500 ord</option>
                    </select>
                </div>
                <br>
                <div id="fokus_variables">
                    <label for="variable_name">Bas
                        Fokus
                        variabel:</label>
                    <br>
                    <br>
                    <select name="variable" id="selected-variable">
                        <option value="None">Velg variabel</option>
                        {%for key,value in columns.items():%}
                        <option style="color: black" value="{{ key }}" title="{{ value }}">{{ key }}</option>
                        {% endfor %}
                    </select>
                    <span id="fokus-description">{{ value }}</span>
                    <br>
                    <br>
                </div>
                <div id="posible_product">
                    <label for="product">Produktet du er interessert i:</label>
                    <br>
                    <br>
                    <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                    <input type="text" class="form-control" id="product" name="product" style="max-width: 256px;">
                    </td>
                    <td>
                        <br>
                        <br>
                </div>
                <form action="{{url_for('fokus_gpt')}}">
                    <script>
                        function thunderGif() {
                            const element = document.getElementById("charging");
                            element.textContent += "Loading";
                            element.style.display = "block"
                            element.classList.add("animate__animated", "animate__heartBeat", "animate__infinite")
                            //assuming thunder.gif animation length is 3 seconds
                        }
                    </script>
                    <input type="submit" id="button" value="Lag prompt" onclick="thunderGif()" />
                    <br>
                    <br>
                    <img id="gif" />
                </form>
                </td>
            </form>
        </div>
    </section>
</body>

</html>