:root {
    --body-bg: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  }

body {
    color:white;
    background-image: var(--body-bg);
    font-family: Nunito, sans-serif;
  }
 
div#content {
    display: none;
    }

div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background: url("static/images/loading.gif") no-repeat;
    cursor: wait;
    }