:root {
    --body-bg: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  }

html {
    display: inline-block;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    margin:0 auto;
    padding: 0;
    background-image: var(--body-bg);
      }

#bas-logo {
        text-align: center;
        align-items: center;
    }
table, th, td 
{
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th { 
    font-weight:bold;
}
tr:hover {background-color:#2B86C5}
*,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }


.boxed {
  border: 3px solid  #FF3CAC ;
  background-color: #2B86C5 ;
  font-size: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 60%;
  height: 9%;
 
}
#charging_gpt {
  font-size: 16px;
  color:black 
}
body {
    margin-left: auto;
    margin-right: auto;
    display:block;
    color:white;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    -webkit-text-stroke: 0.25px black
  }
h1 {
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    } 
#button-table {
  font-size: 16px;
  background-color:  #FF3CAC;
  color:white;
  width: 180px;
  height: 30;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

label {
  font-weight:bold;
  width: 250px;
}
input[type=text] {
  color: black;
  z-index: 1000;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  cursor: wait;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #2B86C5;
  width: 250px;
  height: 30px;
  padding-left: 10px;
  }

input[type=submit] {
    color: white;
    top: 200 px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    z-index: 1000;
    width: 200px;
    height: 30px;
    background-color:  #FF3CAC;
    text-align: center;
    cursor: wait;
    }


.hide{
      display:none;
    }
.show{
      display:block;
      text-align: center !important;
    }

.picture1 {
  display: flex;
  align-items: center;
  gap: 115px;
  text-align: center;
  margin-left: 112px;
  margin-right: auto;
}
.picture2 {
  display: flex;
}
#content{
  background-color: white;
}
#subject{
  background-color: white;
}
#small_button{
  width:100px;
}