:root {
    --body-bg: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  }

h1 {
    font-weight: bold;
    text-align:center ;
    position:relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    }  
table, th, td 
{
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th { 
    font-weight:bold;
}
tr:hover {background-color:#2B86C5}
.boxed {
  border: 3px solid  #FF3CAC ;
  background-color: #2B86C5 ;
  font-size: 16px;
}
*,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
html {
    display: flex;
    position:relative;
    margin: auto;
    vertical-align: middle;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 50%;
    height:100%;
    margin:0 auto;
    padding: 0;
    display: flex;
    }

#bas-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#charging_gpt {
  font-size: 16px;
  color:black 
}
body {
    margin-left: auto;
    margin-right: auto;
    display:block;
    color:white;
    width: 50%;
    background-image: var(--body-bg);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    -webkit-text-stroke: 0.25px black
  }
#button-table {
  font-size: 16px;
  background-color:  #FF3CAC;
  color:white
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}
label {
  font-weight:bold;
}
input[type=text] {
  color: black;
  display:block;
  z-index: 1000;
  width: 160px;
  height: 24px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  cursor: wait;
  }

input[type=submit] {
    color: white;
    top: 200 px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    z-index: 1000;
    width: 160px;
    height: 24px;
    background-color:  #FF3CAC;
    text-align: center;
    cursor: wait;
    }
.button_decision{
    display: inline-block;
    margin: 0 20px;
   }
.hide{
      display:none;
    }
.show{
      display:block;
      text-align: center !important;
    }

