:root {
  --body-bg: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  --border: 2px solid #000000;
}

html {
  box-sizing: border-box;
  background-repeat:no-repeat;
  background-image: var(--body-bg);
  background-size:cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#bas-logo {
      text-align: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
  }
table, th, td 
{
  border: solid 1px #ddd;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
th { 
  font-weight:bold;
}
tr:hover {background-color:#2B86C5}


.boxed {
border: 3px solid  #FF3CAC ;
background-color: #2B86C5 ;
font-size: 16px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
text-align: center;
margin-left: auto;
margin-right: auto;
width: 50%;
height:auto;

}
#charging_gpt {
font-size: 16px;
color:black 
}
body {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display:block;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  -webkit-text-stroke: 0.25px black;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  } 

#button-table {
font-size: 16px;
background-color:  #FF3CAC;
color:white;
width: 180px;
height: 30;
}
section{
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%)}



div {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}

label {
font-weight:bold;
width: auto;
}
input[type=text] {
color: black;
z-index: 1000;
background-color: white;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
border: 1px solid #2B86C5;
width: 250px;
height: 30px;
padding-left: 10px;
}

  
input[type=submit] {
  color: white;
  top: 200px;
  font-size: 16px;
  z-index: 1000;
  width: 200px;
  height: 30px;
  margin-right: auto;
  margin-left:auto ;
  background-color:  #FF3CAC;
  text-align: center;
  }


.hide{
    display:none;
  }
.show{
    display:block;
    text-align: center !important;
  }

.picture1 {
display: flex;
align-items: center;
text-align: center;
font-weight: bold;
position: relative;
justify-content: center;
align-items: center;
gap: 30px;
top: 30px;
width: 50%;
margin-right: auto;
margin-left:auto ;
}

#small_button{
width:100px;
}
.picture2 {
text-align: center;
font-weight: bold;
position: relative;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;
top: 30px;
width: 90%;
margin-right:auto;
margin-left:auto ;
}

#form_pictures{
  display: block;
  width: 580px;
  top: 40px;
  height: calc(100% - 50px);
}